body > canvas {
    -webkit-transition: all 1s ease-in-out;
  
}

body { margin: 0; padding: 0; background: #000; overflow-x: hidden; overflow-y: hidden;}
canvas { display: block; margin: 0 auto; background: #fff; }

body:fullscreen {
	width: 100%;
	height: 100%;
	background-color: green;
}

/* prefix for Chrome & Safari */
body:-webkit-full-screen {
	width: 100%;
	height: 100%;
	background-color: green;
}
